/node_modules
/vendor
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/public/hot
/public/storage
/bootstrap/cache/*
.phpunit.result.cache
.vscode/
.agents/
skills-lock.json
